/* adding the css resets */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    
    display: block;
}

p{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

.heading
{
display:flex; 
justify-content: space-around;
width:100%;
height:5em;
border-style:dotted;
align-items: center
}

.ngo-name{
 font-size:1.2em;
 font-weight: bold;
}

.button-for-donation{
    font-size:0.5em;
    font-weight:bold;
     
}