@font-face {
  font-family: "flood";
  src: url("./assets/Font/Flood.ttf");
  font-stretch: condensed;
}

/* adding the css resets */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, p {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  width: 100%;
}

.container {
  width: 95%;
  margin-left: 2em;
  margin-top: 2em;
  font-family: Helvetica, sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.9em;
  width: 40%;
}

.ngo-name {
  color: #354463;
}

.heading {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
  margin-bottom: 2em;
}

.Donation-button {
  background-color: #c1f7d5;
  width: 6%;
  border-radius: 10px;
  color: #354463;
}

.home-page {
  height: 40em;
  width: 100%;
  background-image: url(./annie-spratt-135307-unsplash.png);
  background-size: cover;
  background-position: 100px -80px;
  display: grid;
  grid-template-columns: 5% 35% 15% 35%;
  grid-template-rows: 10% 70% 5% 5% 5% 5%;
}

.issue {
  background-color: white;
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 70% 20%;
}

.tagline {
  grid-area: 2/4/3/5;
  color: white;
  font-size: 3em;
  font-family: flood;
  line-height: 60px;
  align-self: start;
  justify-self: start;
}

.take-action-tag {
  background: #354463;
  color: white;
  position: relative;
  top: 38.5em;
  left: 45em;
}

.issue-description {
  grid-area: 2/2/3/3;
  font-size: 2em;
  color: #354463;
  font-weight: bold;
}

.issue-link {
  grid-area: 3/2/4/3;
  font-size: 1em;
  justify-self: start;
  align-self: start;
}

.issue-tag {
  background-color: #354463;
  color: white;
  position: relative;
  top: -50%;
  left: 100%;
}

.menu-page {
  height: 12em;
  background-color: #c1f7d5;
  display: grid;
  grid-template-columns: 5% 20% 5% 20% 5% 20% 5% 20%;
  grid-template-rows: 33% 33% 33%
}

.Learn {
  grid-column: 2/3;
  grid-row: 2/3;
}

.Volunteer {
  grid-column: 4/5;
  grid-row: 2/3;
}

.Share {
  grid-column: 6/7;
  grid-row: 2/3;
}

.Donate {
  grid-column: 8/9;
  grid-row: 2/3;
}

.menu-page-heading {
  font-weight: bold;
  font-size: 1.5em;
}

.what-we-do {
  background-color: #354463;
  height: 60em;
  display: grid;
  grid-template-rows: 10% 25% 55% 10%;
  grid-template-columns: 10% 25% 5% 25% 5% 25% 5%;
}

.what-we-do-section {
  grid-row: 2/3;
  grid-column: 2/7;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 10% 5% 10% 55% 20%;
}

.what-we-do-tag {
  background: white;
}

.what-we-do-mission {
  grid-row: 4/5;
  grid-column: 1/3;
  font-size: 2.5em;
  color: white;
}

.Tree-plating-initiative {
  grid-row: 3/4;
  grid-column: 2/3;
}

.Education-and-training {
  grid-row: 3/4;
  grid-column: 4/5;
}

.Advocacy-and-campaining {
  grid-row: 3/4;
  grid-column: 6/7;
}

.image-gallery {
  background: white;
  display: grid;
  grid-template: 40% 40% 4% 12% 4%/10% 80% 10%;
}

.image {
  grid-area: 1/2/2/3;
  background-image: url(./assets/assets/home/tree-planting.png);
  background-size: cover;
  background-position: auto;
  position: relative;
  top: -25%;
}

.tree-planting-image {
  background-image: url(./assets/assets/home/tree-planting.png);
  background-size: cover;
  background-position: auto;
}

.education-image {
  background-image: url(./assets/assets/home/education-training.png);
  background-size: cover;
  background-position: auto;
}

.advocacy-image {
  background-image: url(./assets/assets/home/advocacy.png);
  background-size: cover;
  background-position: auto;
}

.paragraph {
  grid-area: 2/2/3/3;
}

.button {
  grid-area: 4/2/5/3;
  background: #c1f7d5;
  justify-self: center;
  align-self: center;
  font-size: 1.2em;
  border-radius: 15px;
  padding: 0.5em;
}

.paragraph-headline {
  font-size: 1.5em;
}

.climate-change-issue {
  display: grid;
  width: 100%;
  grid-template-columns: 5% 30% 5% 55% 5%;
  grid-template-rows: 3% 21% 4% 21% 3% 21% 3% 21% 3%;
  height: 45em;
  background-image: url(./assets/assets/home/did-you-know-background@3x.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.climate-change-issue-tag {
  grid-area: 2/2/3/3;
  font-family: flood;
  line-height: 80px;
  color: white;
  font-size: 4em;
}

.take-action-button {
  grid-area: 5/2/6/3;
  background-color: #c1f7d5;
  border-radius: 15px;
  justify-self: start;
  align-self: start;
  padding: 0.5em;
  font-size: 1.2em;
}

.fact {
  background: white;
  display: grid;
  grid-template: 15% 35% 5% 35% 10%/10% 1fr 5% 10% 10%;
}

.fact-tag {
  color: white;
  background: #354463;
  position: relative;
  bottom: 80%;
  left: 100%;
}

.fact-heading {
  grid-area: 2/2/3/3;
  font-size: 1.8em;
  font-weight: bold;
}

.fact-description {
  grid-area: 4/2/5/3;
  font-size: 1.5em;
}

.twitter {
  grid-area: 2/4/3/5;
  background-color: #c1f7d5;
  border-radius: 45%;
  padding: 0.5em;
  align-self: center;
  justify-self: center
}

.facebook {
  grid-area: 4/4/5/5;
  background-color: #c1f7d5;
  border-radius: 50%;
  padding: 0.6em;
  align-self: center;
  justify-self: center
}

.agriculture-fact {
  grid-column: 4/5;
  grid-row: 2/3;
}

.population-fact {
  grid-row: 4/5;
  grid-column: 4/5;
}

.crop-growth-fact {
  grid-row: 6/7;
  grid-column: 4/5;
}

.refugee-fact {
  grid-row: 8/9;
  grid-column: 4/5;
}

.stories {
  background: white;
  height: 40em;
  display: grid;
  grid-template-rows: 15% 20% 30% 10% 10% 15%;
  grid-template-columns: 10% 35% 10% 35% 10%;
}

.stories-tag {
  background: #354463;
  color: white;
  position: relative;
  left: 48em;
  top: 5em;
}

.stories-baby-girl {
  grid-row: 2/6;
  grid-column: 3/5;
  background-image: url(./assets/assets/home/lady-baby@2x.png);
  background-size: cover;
  background-position: auto;
}

.stories-short-story {
  grid-row: 3/4;
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 5% 1fr 5% 4% 5%;
  background: #354463;
}

.short-story-description {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 1.5em;
}

.short-story-person {
  grid-row: 4/5;
  grid-column: 2/3;
}

.stories-button {
  grid-row: 5/6;
  grid-column: 2/3;
  background: #c1f7d5;
  border-radius: 50px;
  justify-self: start;
  align-self: center;
  padding: 0.5em;
  font-size: 1.2em;
}

.save-the-future {
  display: grid;
  height: 80em;
  grid-template-rows: 4% 12% 4% 30% 15% 30%;
  grid-template-columns: 5% 40% 5% 5% 40% 5%;
  grid-template-columns: 10% 80% 10%;
  background: #354463;
  color: white;
}

.save-the-future-slogan {
  grid-row: 2/3;
  grid-column: 2/3;
  font-family: flood;
  line-height: 2em;
  font-size: 2em;
  color: white;
}

.EVENT1 {
  grid-row: 4/5;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 40% 5% 5% 40%;
  font-size: 1.2em;
}

.EVENT2 {
  grid-row: 6/7;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 40% 5% 5% 40%;
  font-size: 1.2em;
}

.EVENT1-tag {
  background-color: white;
  color: black;
  position: relative;
  bottom: 1.5em;
  left: 5.5em;
}

.earth-day-event-image {
  grid-row: 1/2;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-image: url(./assets/assets/home/tree-planting@3x.png);
  background-size: cover;
  background-position: auto;
}

.earth-day-event {
  grid-row: 1/2;
  grid-column: 4/5;
  display: grid;
  grid-template-rows: 5% 20% 5% 50% 5% 10% 5%;
  grid-template-columns: 5% 90% 5%;
}

.EVENT2-tag {
  background-color: white;
  color: black;
  position: relative;
  bottom: 26em;
  left: 1.9em;
}

.meeting-image {
  grid-row: 1/2;
  grid-column: 2/5;
  background-image: url(./assets/assets/home/meeting@3x.png);
  background-size: cover;
  background-position: cover;
}

.meeting-description {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 5% 20% 5% 50% 5% 10% 5%;
  grid-template-columns: 5% 90% 5%;
}

.event-headline {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 1.3em;
}

.event-description {
  grid-row: 4/5;
  grid-column: 2/3;
  font-size: 1.1em;
}

.event-Read-more {
  grid-row: 6/7;
  grid-column: 2/3;
  background: #c1f7d5;
  font-size: 1em;
  height: 1em;
  justify-self: center;
  align-self: center;
  padding: 0.5em;
  border-radius: 50px;
  color: black;
}

.subscription-page {
  background: #c1f7d5;
  height: 10em;
  display: grid;
  grid-template-rows: 30% 40% 30%;
  grid-template-columns: 10% 45% 3% 20% 20%;
}

.subscription-message {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 1.5em;
}

.email-address {
  grid-row: 2/3;
  grid-column: 4/5;
  background: white;
  border-radius: 50px;
  padding: 0.5em;
  justify-self: start;
  align-self: center;
  font-size: 0.8em;
}

.Subscribe-button {
  grid-row: 2/3;
  grid-column: 5/6;
  background: #354463;
  color: #c1f7d5;
  align-self: center;
  justify-self: start;
  border-radius: 50px;
  padding: 0.5em 0 0.5em;
}

.footer-section {
  background: white;
  height: 15em;
  display: grid;
  grid-template-rows: 20% 60% 20%;
  grid-template-columns: 5% 15% 5% 15% 5% 15% 5% 15% 5% 15%;
  font-size: 1.5em;
}

.footer-ngo-name {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 1.5em;
  color: #354463;
  font-weight: bold;
}

.footer-conatact {
  grid-row: 2/3;
  grid-column: 4/5;
}

.footer-follow-us {
  grid-row: 2/3;
  grid-column: 6/7;
}

.footer-learn-more {
  grid-row: 2/3;
  grid-column: 8/9;
}

.footer-tagline {
  grid-row: 2/3;
  grid-column: 10/11;
  font-family: flood;
  font-size: 1.5em;
  line-height: 1em;
  align-self: start;
}

.tag {
  height: 1.5rem;
  width: 7rem;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
}

.donation-page-heading {
  text-align: center;
  font-size: 1.5em;
}

.donation-page-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(./assets/assets/donation/annie-spratt-427340-unsplash.png);
  /* grid-auto-rows: 7em; */
  background-size: cover;
  /* background-position: 25% 100%; */
  /* width:auto; */
  background-repeat: no-repeat;
  padding: 5em;
}

.donation-page-details {
  background-color: #354463;
  grid-column: 1/2;
  /* grid-row:2/12; */
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  font-size: 1.2em;
  color: white;
  /* margin-bottom: 6em; */
  /* margin-left:5em; */
  margin-top: -6.3em;
  margin-right: 4em;
  /* grid-auto-rows:4em; */
}

.donation-page-tagline {
  font-family: flood;
  grid-column: 2/3;
  /* grid-row:2/4; */
  font-size: 3.5em;
  line-height: 1.5em;
  color: white;
  /* padding-bottom: 10em; */
}

.doner-information {
  grid-column: 2/3;
  margin-top: 1em;
  font-weight: bold;
  font-size: 1.5em;
}

.full-name {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
}

input {
  background: #354463;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #c1f7d5;
  font-size: 1em;
  height: 3em;
}

.placeholder {
  width: 45%;
  align-self: center;
}

.street-address {
  grid-column: 2/3;
  align-self: center;
  width: 100%;
}

.city-information {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}

.city {
  width: 100%;
}

.state {
  width: 30%;
  height: 3em;
  margin-top: 1.2em;
  margin-left: 1.5em;
  color: #c1f7d5;
  background: #354463;
  border-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #c1f7d5;
  font-size: 0.8em;
  padding: 2px;
}

.zip {
  width: 30%;
  margin-left: 1.5em;
  position: relative;
  top: -0.4em;
}

.Email-address {
  width: 100%;
  margin-top: 1.5em;
  grid-column: 2/3;
}

select {
  width: 40%;
  height: 3em;
}

.Payment-information {
  margin-top: 2em;
  grid-column: 2/3;
  font-weight: bold;
  font-size: 1.5em;
}

.credit-card {
  margin-top: 2em;
  grid-column: 2/3;
}

.credit-card-details {
  grid-column: 2/3;
  display: flex;
  margin-top: 1.5em;
}

.month {
  width: 20%;
}

.year {
  width: 20%
}

.cvc {
  width: 20%;
}

.cc {
  margin-left: 1em;
}

.donation-message {
  grid-column: 2/3;
  margin-top: 4em;
  font-size: 1.2em;
}

.donation-button {
  grid-column: 2/3;
  background: #c1f7d5;
  width: 50%;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  justify-content: end;
  text-align: center;
  border-radius: 35px;
  font-size: 1.2em;
  margin-top: 8em;
  position: relative;
  left: 8em;
  color: #354463;
}

.go-back-link {
  grid-column: 2/3;
  margin-top: 12em;
  position: relative;
  bottom: 13em;
}

input:focus::-webkit-input-placeholder {
  position: relative;
  top: -15px;
  color: white;
  font-weight: bold;
  font-size: 0.7em;
  transition: 0.2s
}

@media only screen and (max-width: 500px) {
  p {
    margin: 0;
  }
  .container {
    width: 100%;
    margin: 0;
  }
  .heading {
    /* width: 100%; */
    display: grid;
    grid-template: 20% 40% 20% 20%/5% 42% 42% 5%;
    margin-bottom: 3em;
  }
  .heading>* {
    width: 100%;
  }
  .ngo-name {
    grid-area: 2/2/3/3;
    font-size: 1em;
    align-self: start;
    font-weight: bold;
  }
  .Donation-button {
    background-color: #c1f7d5;
    grid-column: 2/4;
    grid-row: 4/5;
    width: 45%;
    height: 1.8em;
    margin-top: 2em;
    color: #354463;
    justify-self: center;
    align-self: center;
    font-size: 0.8em;
    border-radius: 1.2em;
  }
  .navigation {
    grid-area: 2/3/3/4;
    display: block;
    align-self: start;
    font-size: 0.9em;
    width: 100%;
    margin-left: 1em;
  }
  .home-page {
    height: 35em;
    background-image: url(./annie-spratt-135307-unsplash.png);
    background-size: cover;
    background-position: 55% 100%;
    display: grid;
    grid-template: 3fr 4fr 4fr 1fr/5% 1fr 1fr 5%;
  }
  .issue {
    background-color: white;
    grid-area: 3/2/4/4;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 20% 60% 20%;
    font-size: 0.8em;
  }
  .tagline {
    grid-area: 1/2/2/3;
    color: white;
    font-size: 3em;
    font-family: flood;
    line-height: 40px;
    align-self: center;
  }
  .take-action-tag {
    background: #354463;
    /* font-size: 1.1em; */
    /* margin-top: 3%; */
    /* margin-right: 5%; */
    /* justify-self: center; */
    /* align-self: center; */
    color: white;
    /* padding-left: 1em; */
    /* padding-right: 1em; */
    position: absolute;
    bottom: 6rem;
    top: 215vw;
    left: 30vw;
  }
  .issue-description {
    grid-area: 2/2/3/3;
    font-size: 2em;
    color: #354463;
    font-weight: bold;
  }
  .issue-link {
    grid-area: 3/2/4/3;
    font-size: 1em;
    justify-self: start;
    align-self: start;
  }
  .issue-tag {
    background-color: #354463;
    margin-top: -8%;
    color: white;
    margin-left: 4.5em;
  }
  .menu-page {
    height: 20em;
    background-color: #c1f7d5;
    margin-top: -3.5%;
    display: grid;
    grid-template: 20% 25% 10% 25% 20%/5% 1fr 5% 1fr 5%;
  }
  .Learn {
    grid-area: 2/2/3/3;
  }
  .Volunteer {
    grid-area: 2/4/3/5;
  }
  .Share {
    grid-area: 4/2/5/3;
  }
  .Donate {
    grid-area: 4/4/5/5;
  }
  .menu-page-heading {
    font-weight: bold;
    font-size: 1.5em;
  }
  .what-we-do {
    background-color: #354463;
    height: 92em;
    display: grid;
    grid-template: 15em 5em 20em 5em 20em 5em 20em 3em/5% 90% 5%;
  }
  .what-we-do-section {
    grid-area: 1/1/2/4;
    display: grid;
    grid-template: 10% 20% 10% 60% /5% 20% 50% 20% 5%;
    height: 15em;
  }
  .what-we-do-tag {
    grid-area: 2/3/3/4;
    justify-self: center;
    align-self: start;
    background: white;
    padding: 0.5em;
    font-size: 1.2em;
  }
  .what-we-do-mission {
    grid-area: 4/2/5/5;
    font-size: 2em;
    color: white;
  }
  .image-gallery {
    background: white;
    display: grid;
    grid-template: 40% 40% 4% 12% 4%/10% 80% 10%;
  }
  .image {
    grid-area: 1/2/2/3;
    background-image: url(./assets/assets/home/tree-planting.png);
    background-size: cover;
    background-position: auto;
    position: relative;
    top: -25%;
  }
  .tree-planting-image {
    background-image: url(./assets/assets/home/tree-planting.png);
    background-size: cover;
    background-position: auto;
  }
  .education-image {
    background-image: url(./assets/assets/home/education-training.png);
    background-size: cover;
    background-position: auto;
  }
  .advocacy-image {
    background-image: url(./assets/assets/home/advocacy.png);
    background-size: cover;
    background-position: auto;
  }
  .paragraph {
    grid-area: 2/2/3/3;
  }
  .button {
    grid-area: 4/2/5/3;
    background: #c1f7d5;
    justify-self: center;
    align-self: center;
    font-size: 1.2em;
    border-radius: 15px;
    padding: 0.5em;
  }
  .Tree-plating-initiative {
    grid-area: 3/2/4/3;
  }
  .Education-and-training {
    grid-area: 5/2/6/3;
  }
  .Advocacy-and-campaining {
    grid-area: 7/2/8/3;
  }
  .paragraph-headline {
    font-size: 1.5em;
  }
  /* adding css for do you know facts */
  .climate-change-issue {
    display: grid;
    width: 100%;
    grid-template: 4em 10em 1.5em 6em 5em 1em 5em 1em 5em 1em 5em 2em/10% 80% 10%;
    height: 48em;
    background-image: url(./did-you-know-background.png);
    background-size: cover;
    background-position: center -15px;
    background-repeat: no-repeat;
  }
  .climate-change-issue-tag {
    grid-area: 2/2/3/3;
    font-family: flood;
    line-height: 35px;
    color: white;
    font-size: 2.5em;
  }
  .take-action-button {
    grid-area: 3/2/4/3;
    background-color: #c1f7d5;
    border-radius: 15px;
    justify-self: start;
    align-self: start;
    padding: 0.5em;
    font-size: 1.2em;
  }
  .fact {
    background: white;
    display: grid;
    grid-template: 15% 35% 5% 35% 10%/10% 1fr 5% 10% 10%;
  }
  .fact-tag {
    background: #354463;
    position: relative;
    bottom: 1.7em;
  }
  .fact-heading {
    grid-area: 2/2/3/3;
    font-size: 1.2em;
    font-weight: bold;
  }
  .fact-description {
    grid-area: 4/2/5/3;
    font-size: 1em;
  }
  .twitter {
    grid-area: 2/4/3/5;
    background-color: #c1f7d5;
    border-radius: 50%;
    padding: 0.5em;
  }
  .facebook {
    grid-area: 4/4/5/5;
    background-color: #c1f7d5;
    border-radius: 50%;
    padding: 0.6em;
  }
  .agriculture-fact {
    grid-area: 5/2/6/3;
  }
  .population-fact {
    grid-area: 7/2/8/3;
  }
  .crop-growth-fact {
    grid-area: 9/2/10/3;
  }
  .refugee-fact {
    grid-area: 11/2/12/3;
  }
  .stories {
    background: white;
    height: 53em;
    display: grid;
    grid-template: 3em 20em 2em 20em 2em 3em 3em/10% 80% 10%;
  }
  .stories-tag {
    /* grid-column: 2/3; */
    background: #354463;
    color: white;
    /* justify-self: center; */
    /* align-self: center; */
    /* padding: 1em; */
    position: relative;
    top: 1em;
    position: absolute;
    top: 529vh;
    left: 31vw;
  }
  .stories-baby-girl {
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url(./assets/assets/home/lady-baby.png);
    background-size: cover;
    background-position: auto;
  }
  .stories-short-story {
    grid-row: 4/5;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5% 1fr 5% 4% 5%;
    background: #354463;
  }
  .short-story-description {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 1.5em;
  }
  .short-story-person {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  .stories-button {
    grid-row: 6/7;
    grid-column: 2/3;
    background: #c1f7d5;
    border-radius: 50px;
    justify-self: center;
    align-self: center;
    padding: 0.5em;
    font-size: 1.2em;
  }
  .save-the-future {
    display: grid;
    height: 100em;
    grid-template-rows: 3em 12em 2em 40em 40em;
    grid-template-columns: 5% 90% 5%;
    background: #354463;
    color: white;
  }
  .save-the-future-slogan {
    grid-row: 2/3;
    grid-column: 2/3;
    font-family: flood;
    line-height: 2em;
    font-size: 2em;
    color: white;
  }
  .EVENT1 {
    grid-row: 4/5;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 10% 40% 50%;
    grid-template-columns: 100%;
  }
  .EVENT1-tag {
    background-color: white;
    position: relative;
    top: 2.5em;
    color: black;
  }
  .earth-day-event-image {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-image: url(./assets/assets/home/tree-planting.png);
    background-size: cover;
    background-position: auto;
  }
  .earth-day-event {
    grid-row: 3/4;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 5% 20% 5% 50% 5% 10% 5%;
    grid-template-columns: 5% 90% 5%;
  }
  .EVENT2 {
    grid-row: 5/6;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 10% 40% 50%;
    grid-template-columns: 100%;
  }
  .EVENT2-tag {
    background-color: white;
    position: relative;
    top: 2.5em;
    left: 5.5em;
    color: black;
  }
  .meeting-image {
    grid-row: 2/3;
    grid-column: 1/2;
    background-image: url(./assets/assets/home/meeting.png);
    background-size: cover;
    background-position: cover;
  }
  .meeting-description {
    grid-row: 3/4;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 5% 20% 5% 50% 5% 10% 5%;
    grid-template-columns: 5% 90% 5%;
  }
  .event-headline {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 1.2em;
  }
  .event-description {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  .event-Read-more {
    grid-row: 6/7;
    grid-column: 2/3;
    background: #c1f7d5;
    font-size: 1em;
    height: 1em;
    justify-self: center;
    align-self: center;
    padding: 0.5em;
    border-radius: 50px;
    color: black;
  }
  .subscription-page {
    background: #c1f7d5;
    height: 10em;
    display: grid;
    grid-template-rows: 10% 50% 10% 20% 10%;
    grid-template-columns: 5% 65% 25% 5%;
  }
  .subscription-message {
    grid-row: 2/3;
    grid-column: 2/4;
    background: #354463;
    font-size: 1.2em;
  }
  .email-address {
    grid-row: 4/5;
    grid-column: 2/3;
    background: white;
    border-radius: 50px;
    padding: 0.5em;
    font-size: 0.8em;
  }
  .Subscribe-button {
    grid-row: 4/5;
    grid-column: 3/4;
    background: #354463;
    color: #c1f7d5;
    align-self: center;
    justify-self: center;
    border-radius: 50px;
    padding: 0.5em 0 0.5em;
  }
  .footer-section {
    background: white;
    height: 30em;
    display: grid;
    grid-template-rows: 10% 20% 10% 20% 10% 30% 5%;
    grid-template-columns: 5% 35% 10% 45% 5%;
    font-size: 0.8em;
  }
  .footer-ngo-name {
    grid-area: 2/2/3/3;
    font-size: 1.5em;
    color: #354463;
    font-weight: bold;
  }
  .footer-conatact {
    grid-area: 2/4/3/5;
  }
  .footer-follow-us {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  .footer-learn-more {
    grid-row: 4/5;
    grid-column: 4/5;
  }
  .footer-tagline {
    grid-row: 6/7;
    grid-column: 4/5;
    font-family: flood;
    font-size: 2.5em;
    line-height: 1em;
  }
  .donation-page-content {
    margin: 0;
    padding: 0em;
    grid-template-columns: 5% 1fr 5%;
    background-image: url(./annie-spratt-135307-unsplash.png);
    grid-column: 2/3;
    grid-auto-rows: 7em;
    background-size: cover;
    background-position: auto;
  }
  .donation-page-details {
    grid-column: 2/3;
    grid-row: 2/12;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    font-size: 1em;
    grid-auto-rows: 4em;
    margin: 0;
  }
  .donation-page-tagline {
    font-size: 1.8em;
    line-height: 1.5em;
    margin: 0;
  }
  .full-name {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
  }
  input {
    font-size: 1em;
    height: 3em;
  }
  .placeholder {
    width: 45%;
    align-self: center;
  }
  .city-information {
    margin-top: 1.5em;
  }
  .state {
    height: 3em;
    margin-top: 1.2em;
    margin-left: 1.5em;
    font-size: 0.8em;
    padding: 2px;
  }
  .zip {
    top: -0.4em;
  }
  .Email-address {
    margin-top: 1.5em;
  }
  select {
    width: 40%;
    height: 3em;
  }
  .Payment-information {
    margin-top: 1.5em;
    grid-column: 2/3;
    font-weight: bold;
    font-size: 1.5em;
  }
  .credit-card {
    margin-top: 2em;
  }
  .credit-card-details {
    grid-column: 2/3;
    display: flex;
    margin-top: 1.5em;
  }
  .donation-message {
    margin-top: 4em;
    font-size: 1.2em;
  }
  .donation-button {
    grid-column: 2/3;
    background: #c1f7d5;
    width: 100%;
    height: 60%;
    padding-top: 0.6em;
    text-align: center;
    border-radius: 35px;
    font-size: 1.2em;
    margin-top: 8em;
    left: 0;
  }
  .go-back-link {
    grid-column: 2/3;
    margin-top: 12em;
    bottom: 0;
  }
  input:focus::-webkit-input-placeholder {
    position: relative;
    top: -15px;
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    transition: 0.2s
  }
}

@media only screen and (min-width: 700px) and (max-width:1024px) {
  .container {
    width: 100%;
    margin: 0;
  }
  .heading {
    display: block;
    width: 95%;
    margin-left: 2em;
    margin-top: 2em;
  }
  .ngo-name {
    font-size: 1.5em;
    color: #354463;
    font-weight: bold;
  }
  .navigation {
    width: 80%;
    font-size: 1.2em;
    position: relative;
    right: 0.7em;
  }
  .Donation-button {
    position: absolute;
    top: 4%;
    margin: 0;
    height: 7%;
    right: 12%;
    width: 20%;
    font-size: 1.2em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 40px;
  }
  .home-page {
    background-image: url(./annie-spratt-135307-unsplash.png);
    background-size: cover;
    background-position: -15% 100%;
    display: grid;
    grid-template-rows: 5% 25% 25% 30% 15%;
    grid-template-columns: 10% 20% 60% 10%;
    height: 50em;
    position: relative;
  }
  .tagline {
    font-size: 3.5em;
    line-height: 1.5em;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .issue {
    grid-column: 2/4;
    grid-row: 4/5;
  }
  .take-action-tag {
    position: absolute;
    ;
    left: 45vw;
    top: 102vw;
  }
  .issue-tag {
    padding: 0.5em;
  }
  .menu-page {
    height: 20em;
    background-color: #c1f7d5;
    margin-top: -3.5%;
    display: grid;
    grid-template: 20% 25% 10% 25% 20%/5% 1fr 5% 1fr 5%;
    font-size: 1.4em;
  }
  .Learn {
    grid-area: 2/2/3/3;
  }
  .Volunteer {
    grid-area: 2/4/3/5;
  }
  .Share {
    grid-area: 4/2/5/3;
  }
  .Donate {
    grid-area: 4/4/5/5;
  }
  .menu-page-heading {
    font-weight: bold;
    font-size: 1.7em;
  }
  .what-we-do {
    background-color: #354463;
    height: 92em;
    display: grid;
    grid-template: 15em 5em 20em 5em 20em 5em 20em 3em/5% 90% 5%;
    border-style: dotted;
  }
  .what-we-do-section {
    grid-area: 1/1/2/4;
    display: grid;
    grid-template: 10% 20% 10% 60% /10% 20% 60% 10%;
    height: 15em;
  }
  .what-we-do-tag {
    grid-area: 2/2/3/3;
    justify-self: stretch;
    background: white;
  }
  .what-we-do-mission {
    grid-area: 4/2/5/4;
    font-size: 2em;
  }
  .image-gallery {
    background: white;
    display: grid;
    grid-template: 10% 70% 5% 10%/5% 40% 5% 45% 5%;
  }
  .image {
    grid-area: 1/2/3/3;
    background-size: cover;
    background-position: auto;
    position: relative;
    top: -15%;
  }
  .tree-planting-image {
    background-image: url(./assets/assets/home/tree-planting.png);
    background-size: cover;
    background-position: auto;
  }
  .education-image {
    background-image: url(./assets/assets/home/education-training.png);
    background-size: cover;
    background-position: auto;
  }
  .advocacy-image {
    background-image: url(./assets/assets/home/advocacy.png);
    background-size: cover;
    background-position: auto;
  }
  .paragraph {
    grid-area: 2/4/4/5;
    font-size: 1.2em;
  }
  .button {
    grid-area: 3/2/4/3;
    background: #c1f7d5;
    justify-self: center;
    align-self: center;
    font-size: 1.1em;
    border-radius: 15px;
  }
  .Tree-plating-initiative {
    grid-area: 3/2/4/3;
  }
  .Education-and-training {
    grid-area: 5/2/6/3;
  }
  .Advocacy-and-campaining {
    grid-area: 7/2/8/3;
  }
  .paragraph-headline {
    font-size: 1.5em;
  }
  .climate-change-issue {
    display: grid;
    width: 100%;
    grid-template-columns: 5% 30% 5% 55% 5%;
    grid-template-rows: 3% 21% 4% 21% 3% 21% 3% 21% 3%;
    height: 55em;
    background-image: url(./did-you-know-background.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
  .climate-change-issue-tag {
    grid-area: 2/2/3/3;
    font-family: flood;
    line-height: 35px;
    color: white;
    font-size: 2.5em;
  }
  .take-action-button {
    grid-area: 3/2/4/3;
    background-color: #c1f7d5;
    border-radius: 15px;
    justify-self: start;
    align-self: start;
    padding: 0.5em;
    font-size: 1.2em;
  }
  .fact {
    background: white;
    display: grid;
    grid-template: 15% 35% 5% 35% 10%/10% 1fr 5% 10% 10%;
  }
  .fact-tag {
    font-size: inherit;
    background: #354463;
    position: relative;
  }
  .fact-heading {
    grid-area: 2/2/3/3;
    font-size: 1.8em;
    font-weight: bold;
  }
  .fact-description {
    grid-area: 4/2/5/3;
    font-size: 1.5em;
  }
  .twitter {
    grid-area: 2/4/3/5;
    background-color: #c1f7d5;
    border-radius: 45%;
    padding: 0.5em;
    align-self: start;
  }
  .facebook {
    grid-area: 4/4/5/5;
    background-color: #c1f7d5;
    border-radius: 50%;
    padding: 0.6em;
    align-self: start;
  }
  .agriculture-fact {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .population-fact {
    grid-row: 4/5;
    grid-column: 4/5;
  }
  .crop-growth-fact {
    grid-row: 6/7;
    grid-column: 4/5;
  }
  .refugee-fact {
    grid-row: 8/9;
    grid-column: 4/5;
  }
  .stories {
    background: white;
    height: 53em;
    display: grid;
    grid-template-columns: 10% 10% 60% 10% 10%;
    grid-template-rows: 10% 40% 10% 20% 5% 5% 10%;
    position: relative;
  }
  .stories-tag {
    grid-row: 1/2;
    grid-column: 2/3;
    background: #354463;
    color: white;
    justify-self: start;
    align-self: start;
    padding: 1em;
    position: relative;
    top: 3em;
    left: 3em;
  }
  .stories-baby-girl {
    grid-row: 2/4;
    grid-column: 2/4;
    background-image: url(./assets/assets/home/lady-baby.png);
    background-size: cover;
    background-position: auto;
  }
  .stories-short-story {
    grid-row: 3/5;
    grid-column: 3/5;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5% 1fr 5% 4% 5%;
    background: #354463;
  }
  .short-story-description {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 1.5em;
  }
  .short-story-person {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  .stories-button {
    grid-row: 6/7;
    grid-column: 2/4;
    background: #c1f7d5;
    border-radius: 50px;
    justify-self: center;
    align-self: center;
    padding: 0.5em;
    font-size: 1.2em;
    position: absolute;
    left: 12%;
  }
  .save-the-future {
    display: grid;
    height: 60em;
    grid-template-rows: 4% 12% 4% 40% 40%;
    grid-template-columns: 5% 90% 5%;
    background: #354463;
    color: white;
  }
  .save-the-future-slogan {
    grid-row: 2/3;
    grid-column: 2/3;
    font-family: flood;
    line-height: 2em;
    font-size: 2em;
    color: white;
  }
  .EVENT1 {
    grid-row: 4/5;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 10% 40% 50%;
    grid-template-columns: 40% 10% 40%;
  }
  .EVENT2 {
    grid-row: 5/6;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 10% 40% 50%;
    grid-template-columns: 40% 10% 40%;
  }
  .EVENT1-tag {
    grid-row: 1/2;
    grid-column: 3/4;
    background-color: white;
    justify-self: start;
    align-self: center;
    padding: 0.5em;
    color: black;
    position: relative;
    left: 5%;
  }
  .earth-day-event-image {
    grid-row: 1/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-image: url(./assets/assets/home/tree-planting.png);
    background-size: cover;
    background-position: auto;
  }
  .earth-day-event {
    grid-row: 2/4;
    grid-column: 3/4;
    display: grid;
    grid-template-rows: 5% 20% 5% 50% 5% 10% 5%;
    grid-template-columns: 5% 90% 5%;
    font-size: 0.9em;
  }
  .EVENT2-tag {
    /* grid-column: 1/2; */
    background-color: white;
    /* justify-self: center; */
    /* align-self: center; */
    /* padding: 0.5em; */
    /* position: relative; */
    color: black;
    top: 0.5vw;
    position: relative;
  }
  .meeting-image {
    grid-row: 1/3;
    grid-column: 3/4;
    background-image: url(./assets/assets/home/meeting.png);
    background-size: cover;
    background-position: cover;
  }
  .meeting-description {
    grid-row: 2/4;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 5% 20% 5% 50% 5% 10% 5%;
    grid-template-columns: 5% 90% 5%;
  }
  .event-headline {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 1.3em;
  }
  .event-description {
    grid-row: 4/5;
    grid-column: 2/3;
    font-size: 1.1em;
  }
  .event-Read-more {
    grid-row: 6/7;
    grid-column: 2/3;
    background: #c1f7d5;
    font-size: 1em;
    height: 1em;
    justify-self: center;
    align-self: center;
    padding: 0.5em;
    border-radius: 50px;
    color: black;
  }
  .subscription-page {
    background: #c1f7d5;
    height: 10em;
    display: grid;
    grid-template-rows: 10% 50% 10% 20% 10%;
    grid-template-columns: 5% 65% 25% 5%;
  }
  .subscription-message {
    grid-row: 2/3;
    grid-column: 2/4;
    background: #c1f7d5;
    font-size: 1.8em;
  }
  .email-address {
    grid-row: 4/5;
    grid-column: 2/3;
    background: white;
    border-radius: 50px;
    padding: 0.5em;
    font-size: 0.8em;
  }
  .Subscribe-button {
    grid-row: 4/5;
    grid-column: 3/4;
    background: #354463;
    color: #c1f7d5;
    align-self: center;
    justify-self: center;
    border-radius: 50px;
    padding: 0.5em 0 0.5em;
  }
  .footer-section {
    background: white;
    height: 25em;
    display: grid;
    grid-template-rows: 5% 20%15% 10% 35% 5%;
    grid-template-columns: 5% 25% 5% 25% 5% 30% 5%;
    font-size: 1.5em;
  }
  .footer-ngo-name {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 1.5em;
    color: #354463;
    font-weight: bold;
  }
  .footer-conatact {
    grid-row: 2/4;
    grid-column: 4/5;
  }
  .footer-follow-us {
    grid-row: 2/4;
    grid-column: 6/7;
  }
  .footer-learn-more {
    grid-row: 5/6;
    grid-column: 4/5;
  }
  .footer-tagline {
    grid-row: 5/6;
    grid-column: 6/7;
    font-family: flood;
    font-size: 2.5em;
    line-height: 1em;
  }
  .donation-page-heading {
    font-size: 2em;
  }
  .donation-page-content {
    display: grid;
    grid-template-columns: 5% 10% 1fr 10% 5%;
    background-image: url(./annie-spratt-135307-unsplash.png);
    grid-auto-rows: 7em;
    background-size: cover;
    background-position: auto;
    font-size: 1.5em;
    height: 88em;
    padding: 0;
  }
  .donation-page-details {
    
    grid-column: 2/5;
    grid-row: 2/12;
    grid-auto-rows: 4em;
    margin: 0;
  }
  .donation-page-tagline {
    
    grid-column: 3/4;
    font-size: 2em;
    line-height: 1.5em;
    
  }
  .full-name {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
  }
  input {
    font-size: 1.2em;
    margin-top: 1em;
    height: 2em;
  }
  .placeholder {
    width: 45%;
    align-self: center;
  }
  .street-address {
    grid-column: 2/3;
    align-self: center;
    width: 100%;
  }
 
  .state {
    width: 30%;
    height: 3em;
    margin-top: 1.2em;
    margin-left: 1.5em;
    color: #c1f7d5;
    background: #354463;
    border-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid #c1f7d5;
    font-size: 0.8em;
    padding: 2px;
  }
  
  .Email-address {
   
    margin-top: 2.5em;
   
  }
  select {
    width: 40%;
    height: 3em;
  }
  .Payment-information {
    margin-top: 3em;
    grid-column: 2/3;
   
    font-size: 1.5em;
  }
  .credit-card {
    margin-top: 3em;
   
  }
  .credit-card-details {
   
    margin-top: 2em;
  }
  
  .donation-message {
     margin-top: 7em;
    font-size: 1.2em;
  }
  .donation-button {
    grid-column: 2/3;
     width: 100%;
    height: 60%;
    padding-top: 0.6em;
    text-align: center;
    border-radius: 35px;
    font-size: 1.2em;
    margin-top: 8em;
    left: 0;
  }
  .go-back-link {
    grid-column: 2/3;
    margin-top: 12em;
    bottom: 0;
  }
  input:focus::-webkit-input-placeholder {
    position: relative;
    top: -11px;
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    transition: 0.2s
  }
}